{% extends 'base.html' %}

<head>
  <title>Home | Schedule</title>
</head>
<body>
  {% block content %}
    <h1>TODO list<a style="margin-left: 150px;" class="btn btn-primary" href="{% url 'schedule:task-create' %}">Add task</a></h1>
    <div style="color: gray;">Current time: {% now "jS F Y H:i" %}</div>
    {% if todo_list %}
      <table class="table">
   <tbody>
    {% for todo in todo_list %}
    <tr>
      <th scope="col">
      <form action="{% url 'schedule:task-change' todo.slug %}" method="post" novalidate>
      {% csrf_token %}
        <h5 style="float: left;"><strong > {{ todo.content }} </strong></h5>
        {% if todo.is_mark %}
          <h5 style="color: red; text-indent: 30px">Not Done</h5>
            <button style="float: right;" class="btn btn-outline-info" type="submit">Complete</button>
          <h5> Created: {{ todo.create_date }} <em style="color: Tomato;">/ Deadline: {{ todo.deadline }}</em></h5>
        {% else %}
          <h5 style="color: MediumSeaGreen; text-indent: 30px;">Done</h5>
            <button style="float: right;" class="btn btn-outline-secondary" type="submit">Undo</button>
          <h5> Created: {{ todo.create_date }} <em >/ Deadline: {{ todo.deadline }}</em></h5>
        {% endif %}
      </form>
      <h5 style="color: gray; margin-top: 10px;">Tags:
      {% for tag in todo.tags.all %}
        {{ tag.name }}
      {% empty %}
        There are no tags
      {% endfor %}
      <a href="{% url 'schedule:task-update' todo.slug %}">UPDATE</a>
      <a href="{% url 'schedule:task-delete' todo.slug %}">DELETE</a></h5>
      </th>
    </tr>
    {% endfor %}
   </tbody>
    </table>
    {% else %}
      <p>There are no tasks</p>
    {% endif %}
  {% endblock %}
</body>
