{% extends 'base.html' %}
  <head>
    <title>Home | Schedule</title>
  </head>
  {% block content %}
    <h1>
      TODO list
      <a style="margin-left: 150px;" class="btn btn-primary" href="{% url 'schedule:task-create' %}">Add task</a>
    </h1>
    <div style="color: gray;">Current time: {% now "jS F Y H:i" %}</div>
    {% if todo_list %}
    <table class="table">
      <tbody>
        {% for todo in todo_list %}
        <ul>
            <tr>
              <td>
              {% if now <= todo.deadline or not todo.is_mark %}
                <h4><strong>{{ todo.content }} </strong>
                  <text style="color:Tomato;">Not Done</text></h4>
                <a style="float: right;" class="btn btn-outline-info" href="{% url 'schedule:task-change' todo.slug %}">Complete</a>
                    <div>Created: {{ todo.create_date }}</div>
                      {% if todo.tags.all %}
                        <tag ><h5 style="color: gray; margin-top: 10px;">Tags:
                        {% for tag in todo.tags.all %}
                          {{ tag.name }}
                        {% endfor %}
                      {% endif %}
                        <a href="{% url 'schedule:task-update' todo.slug %}">UPDATE</a>
                        <a href="{% url 'schedule:task-delete' todo.slug %}">DELETE</a></h5>
                      </tag>
                  {% else %}
                 <h4><strong>{{ todo.content }}</strong>
                  <text style="color:MediumSeaGreen">Done</text></h4>
                    <a style="float: right" class="btn btn-outline-dark" href="{% url 'schedule:task-change' todo.slug %}">Undo</a>
                    <div>Created: {{ todo.create_date }} <text style="color: Tomato;">/ Deadline: {{ todo.deadline }}</text> </div>
                      {% if todo.tags.all %}
                        <tag ><h5 style="color: gray; margin-top: 10px;">Tags:
                        {% for tag in todo.tags.all %}
                          {{ tag.name }}
                        {% endfor %}
                      {% endif %}
                        <a href="{% url 'schedule:task-update' todo.slug %}">UPDATE</a>
                        <a href="{% url 'schedule:task-delete' todo.slug %}">DELETE</a></h5>
                      </tag>
                    </td>
              {% endif %}
            </tr>
        </ul>
      {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p>There are no tasks</p>
    {% endif %}
  {% endblock %}
